.DS_Store

.venv/
**/.venv/

.wheels/
**/.wheels/

models/
**/models/

__pycache__/
**/__pycache__/

*.pyc
*.pyo

knowledge.sqlite
**/knowledge.sqlite

local_sources/
**/local_sources/
local_materials/
**/local_materials/

.env
.env.*
*.log
